*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr ;
    
}
.header{
    background-color: #ffffff;
    grid-column: 2/3;
}

.sidebar{
    background-color: #1992D4;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 1em;
}
.nav-tabs-wrapper{
     color: white;
     display: flex;
}
.nav-icons{
    fill: white; 
    width: 50px;
    height: 50px;
}
.nav-tabs{
    font-weight: bold;
}
.content{
    background-color: #E2E8F0;
    grid-column: 2/3;
}