*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E2E8F0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    min-height: 100vh;
}

.header { grid-area: header; }
.sidebar { grid-area: sidebar; }
.content { grid-area: content; }
.header{
    background-color: #ffffff;
    grid-column: 2/3;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.top-row, .bottom-row{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.icons{
    width: 30px;
    height: 30px;
}

.search, .noti, .greeting, .buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}
.greeting{
    margin-left: 15px;
}
.search-bar{
    background-color:#E2E8F0 ;
    width: 700px;
    height: 25px;
    border-radius: 15px;
}

.pic{
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.big-pic{
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.header-btns{
    background-color: #1992D4;
    color: white;
    border: none;
    border-radius: 15px;
    width: 80px;
    height: 30px;
}
.sidebar{
    background-color: #1992D4;
    grid-column: 1/2;
    
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 1em;
}
.nav-tabs-wrapper{
     color: white;
     display: flex;
     align-items: center;
     gap: 10px;
}
.nav-icons{
    fill: white; 
    width: 50px;
    height: 50px;
}
.nav-tabs{
    font-weight: bold;
}
.content{
    grid-column: 2/3;
    padding: 1em;
    gap: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects{
    display: flex;
    gap: 2em;
    grid-column: 1/2;
}
.prj-right, .prj-left{
    display: flex;
   flex-direction: column;
    gap: 1em;
}
.prj-card{
    background-color: #FFFFFF;
    border-radius: 10px;
    border-left: 7px solid #F0B429;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-icons{
    align-self: flex-end;
}
.side-content{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.announcements, .trending{
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.profile-wrapper{
    display: flex;
    gap: 1em;
}